# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_data_df = pd.read_csv("../output_data/cities.csv")
cities_data_df.dropna(inplace = True)
cities_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,busselton,-33.65,115.33,9.44,75.0,1.0,4.72,1.603318e+09
1,1,saskylakh,71.92,114.08,-12.89,94.0,91.0,2.60,1.603318e+09
2,2,mataura,-46.19,168.86,14.44,60.0,97.0,2.24,1.603318e+09
3,3,porto novo,6.50,2.60,27.00,88.0,40.0,4.10,1.603318e+09
4,4,barrow,71.29,-156.79,1.00,96.0,90.0,6.70,1.603318e+09
...,...,...,...,...,...,...,...,...,...
630,630,raudeberg,61.99,5.14,7.00,93.0,97.0,1.50,1.603318e+09
631,631,buchanan,5.88,-10.05,25.48,88.0,100.0,2.40,1.603318e+09
632,632,ust-nera,64.57,143.20,-14.28,87.0,100.0,2.41,1.603318e+09
633,633,surt,31.21,16.59,20.97,61.0,0.0,3.64,1.603318e+09
634,634,hualmay,-11.10,-77.61,19.41,73.0,19.0,4.93,1.603318e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:

locations = cities_data_df[["Lat", "Lng"]]
weights = cities_data_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure